// nav link font
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  padding: 2rem;
  background: var(--darkblue);
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);

  .main-navigation {
    position: relative;
    display: flex;
    align-items: center;

    &__list {
      max-width: 500px;
      position: absolute;
      top: 1rem;
      right: 4rem;
      display: flex;
      gap: 3rem;
      list-style-type: none;

      &__item {
        color: #00c957;

        a {
          color: #00c957;
          text-decoration: none;
          font-size: 2rem;

          &.active {
            color: #ff8243;

            &:after {
              display: block;
              margin-top: 3px;
              content: "";
              height: 4px;
              width: 100%;
              background-color: var(--white);
            }
          }
        }
      }
    }
  }
}
