// nav link font
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.header {
  height: 120px;
  background: var(--darkblue);
  font-family: "Permanent Marker", cursive;

  .main-navigation {
    position: relative;

    &__list {
      max-width: 500px;
      position: absolute;
      top: 2rem;
      right: 4rem;
      display: flex;
      gap: 3rem;
      list-style-type: none;

      &__item {
        color: #00c957;

        a {
          color: #00c957;
          text-decoration: none;
          font-size: 2rem;

          &.active {
            color: #fe5a1d;

            &:after {
              display: block;
              margin-top: 3px;
              content: "";
              height: 4px;
              width: 100%;
              background-color: var(--white);
            }
          }
        }
      }
    }
  }
}
