.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--white);
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer__contact-heading {
  font-size: 1.5rem;

  span.find-online {
    font-style: italic;
    border-bottom: 4px solid #00c957;
  }

  span.exclamation {
    font-size: 1.7rem;
    font-weight: bold;
    color: #ff8243;
  }
}

.footer__images {
  margin-bottom: 15px;
  display: flex;
  gap: 20px;

  .footer-social img {
    height: 44px;
    width: 44px;
    transition: 0.4s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
